/* !-------------------------------- */
/* !HEADER */
/* !-------------------------------- */

.header {
  padding: 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.brand-logo {
  height: 2.4rem;
  margin: 0.8rem;
}

.nav-bar {
  display: flex;
  gap: 16rem;
}

.nav-lists {
  list-style: none;
  cursor: pointer;
}

.nav-lists li {
  margin-bottom: 1.4rem;
}

.address {
  font-style: normal;
  text-align: right;
}

.address a:link,
.address:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #221e20;
  font-weight: 600;
}

.address p {
  font-size: 1.6rem;
  color: #221e20;
  font-weight: 600;
  margin-top: 1.4rem;
}

/* !-------------------------------- */
/* !HERO SECTION */
/* !-------------------------------- */

.section-hero {
  margin: 9.6rem 0;
}

.hero {
  width: 100%;
  padding-top: 9.6rem;
}

.hero-brand-logo {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  /* opacity: 1; */
  transform-style: preserve-3d;
  transition: transform 5s;
  width: 100%;
}

.hero-bottom {
  height: 92rem;
  background-image: url(../img/hero/asset\ 3.webp);
}

.hero-bottom--content {
  display: block;
  width: 51rem;
}

.hero-link {
  width: 8rem;
}

/* !-------------------------------- */
/* !ADVANTAGE SECTION */
/* !-------------------------------- */

.section-advantages--margin {
  width: 104rem;

  margin: 9.6rem auto;
  padding-top: 9.6rem;
}

.advantages-info {
  flex-direction: column;
  align-items: start;
}

.section-adv-marg {
  margin-bottom: 2rem;
}

.advantages-grid-contents {
  border-top: 0.5px solid #cfcfcf;
  margin: 10rem 0;
  padding: 6rem 0;
}
.section-advan-para {
  opacity: 0.4;
  transition: opacity 1s ease-in;
}

.gird-colm:nth-child(4) {
  margin-top: 6rem;
}
.gird-colm:nth-child(5) {
  margin-top: 6rem;
}
.gird-colm:nth-child(6) {
  margin-top: 6rem;
}

.section-advan-para {
  color: #828282;
  margin-top: 2rem;
}

/* !-------------------------------- */
/* !OUR MISSION SECTION */
/* !-------------------------------- */
.our-mission {
  position: relative;
  margin: 9.6rem 2.6rem;
}
.our-thoughts {
  /* position: relative; */
  background-image: url(../img/our-mission/asset\ 4.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  max-width: 110rem;
  height: 120rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.personalizedh2 {
  width: 95%;
  font-size: 10rem;
  line-height: 11rem;
  letter-spacing: -0.6rem;
  color: #221e20;
  text-align: normal;
  font-weight: 500;
}

.our-mission--img {
  transition: height 2s ease-in-out;
  position: absolute;
  height: 0rem;
  width: 20rem;
}

.our-img-1 {
  top: 10rem;
  left: 0;
}

.our-img-2 {
  top: 0;
  right: 40rem;
}

.our-img-3 {
  top: 20rem;
  right: 0;
}

.our-img-4 {
  bottom: 10rem;
  left: 20rem;
}

.our-img-5 {
  bottom: 0;
  right: 20rem;
}

/* !-------------------------------- */
/* !FORM FIll SECTION */
/* !-------------------------------- */

.form-fill-section {
  background-color: #221e20;
  height: 85rem;
}

.form-fill-content {
  margin: 0 7.8rem;
  padding: 20rem 0;
}

.form-fill-h2 {
  font-size: 7.2rem;
  color: #ffffff;
  line-height: 8.6rem;
  letter-spacing: -0.4rem;
  font-weight: 500;
}

.form-fill-p {
  margin-top: 4rem;
  font-size: 2rem;
  color: #828282;
  line-height: 3.2rem;
  letter-spacing: -0.32px;
}

.form-height {
  margin-top: 10rem;
}

.form-label {
  font-size: 1.4rem;
  line-height: 2.8rem;
  letter-spacing: -0.32px;
  color: #c9c7c7;
  font-weight: 600;
}

.form-input {
  background-color: #221e20;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 3.2rem;
  /* letter-spacing: -0.32rem; */
  border: 0;
  width: 100%;
  padding: 0.8rem 0 0.4rem 0;
  border-bottom: 1px solid #828282;
}

.form-input::placeholder {
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: normal;
  color: #828282;
  font-weight: 600;
}

.form-input:focus {
  outline: none;
}

.form-catalog {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  width: 100%;
  background-color: #ffffff;
}

.form-catalog p {
  font-size: 1.8rem;
  font-weight: 600;
  color: #221e20;
  line-height: 3.2rem;
  letter-spacing: normal;
}

/* !-------------------------------- */
/* !LANDMARK SECTION*/
/* !-------------------------------- */

.landmark-count {
  height: 39rem;
  align-items: center;
  justify-items: center;
  overflow: hidden;
  gap: 0;
}

.landmark-count:last-child {
  border-bottom: 1px solid #c9c7c7;
}

.landmark-left img {
  transition: image 0.5s ease-in-out;
  width: 100%;
}

.landmark-left-sign {
  width: 170%;
  z-index: -1;
}

.landmark-right {
  border-top: 1px solid #c9c7c7;
  border-left: 1px solid #c9c7c7;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.4s;
}

/* .landmark-count */

.count {
  position: absolute;
  top: 2.8rem;
  left: 2.8rem;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 1px solid #c9c7c7;
  width: 6.6rem;
  letter-spacing: -0.32px;
  height: 6.6rem;
  font-size: 1.8rem;
  border-radius: 50%;
  background-color: #221e20;
  color: #ffffff;
  font-weight: 600;
  line-height: 2.8rem;
  transition: all 0.4s;
}

.count-content {
  width: 70%;
}

.count-heading {
  font-size: 3.6rem;
  line-height: 3.9rem;
  margin-bottom: 3rem;
}

.count-paragraph {
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #828282;
}

/* !-------------------------------- */
/* !APPROPRIATE SECTION*/
/* !-------------------------------- */

.appropriate-header {
  margin: 9.6rem 0;
}

.heading-appropriate {
  text-align: center;
}

.apropriate-house {
  margin: 9.6rem 0;
  gap: 2rem;
}

.img-container {
  overflow: hidden;
  position: relative;
}

.house-img {
  width: 100%;
  height: 55rem;
  filter: grayscale(100%);
  transition: all 0.6s ease;
}

.house-img--1 {
  padding-top: 10rem;
  transform: scale(165%);
}

.house-img--1:hover {
  filter: grayscale(0%);
  transform: scale(175%);
}

.house-img--2:hover {
  filter: grayscale(0%);
  transform: scale(110%);
}

.apropriate-middle-img {
  width: 125rem;
  overflow: hidden;
}

.img-container--3 {
  margin: 0 19.6rem;
  overflow: hidden;
}

.apropriate-middle-img p {
  margin-left: 19.6rem;
}

.appropriate-bottom-img {
  margin: 9.6rem 0;
}

.bottom-house-img {
  transform: scaleX(165%);
}

.bottom-house-img:hover {
  filter: grayscale(0%);
  transform: scale3d(175%, 105%, 1%);
}

.all-obj-btn {
  background-color: #221e20;
  width: 70rem;
  margin: 9.6rem auto;
  overflow: hidden;
}

.all-obj-btn button {
  transition: all 0.3s;
  color: #fff;
  font-size: 1.8rem;
  border: none;
  background-color: transparent;
}

.all-obj-btn:hover {
  background-color: #272727;
}

.all-obj-btn:hover button {
  transform: scale(110%);
}

/* !-------------------------------- */
/* !Partner SECTION*/
/* !-------------------------------- */
.brand-logos {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  padding: 9.6rem 14.6rem 19.2rem 14.6rem;

  border-bottom: 1px solid #c9c7c7;
}

.gap-in-brand {
  padding-bottom: 8rem;
  gap: 10rem;
  align-items: center;
  border-bottom: 1px solid #c9c7c7;
}

.gap-in-brand img {
  filter: brightness(0%);
  opacity: 20%;
  transition: all 0.5s;
}

.gap-in-brand img:hover {
  opacity: 100%;
  filter: grayscale(0%);
}

/* !-------------------------------- */
/* !Real Estate Agent sectoin */
/* !-------------------------------- */

.happy-costumers {
  margin: 9.6rem 0;
  grid-row-gap: 6rem;
  grid-column-gap: 2rem;
}

.hpy-costumer-img {
  width: 100%;
}

.hpy-costumer-small {
  color: #828282;
}

.arrow-real-estate {
  text-align: center;
  padding-bottom: 9.6rem;
}

.arrow-real-estate button {
  font-size: 3rem;
  font-weight: 700;
  transition: all 0.4s ease-in-out;
  height: 9.8rem;
  width: 9.8rem;
  border-radius: 50%;
  border: 1px solid #c9c7c7;
  background-color: #fff;
}

.arrow-real-estate button:hover {
  color: #fff;
  background-color: #221e20;
}

/* !-------------------------------- */
/* !CLUB HOUSE SECTION */
/* !-------------------------------- */
.club-bottom {
  background-image: url(../img/club-house/asset\ 32.webp);
  height: 110rem;
  background-size: auto;
}
